@use 'variables'
@use 'mixins'

* 
    box-sizing: border-box


html, body
    background-color: variables.$background-color
    font-family: variables.$font-family
    overflow-x: hidden
    margin: 0 auto
    padding: 0

h1, h2, h3, h4, h5, h6
    color: variables.$headings-color
    font-weight: variables.$headings-font-weight

h1
    font-size: variables.$h1-text-size

p
    color: variables.$text-color
    font-size: variables.$paragraph-text-size

ul 
    padding-inline-start: 0

    li 
        list-style-type: none

a
    text-decoration: none
    color: variables.$text-color

a, button
    cursor: pointer
    border: none

/* logo */

.logo-container
    img
        width: variables.$small-img

/* navigation item */

.navigation-item 
    ul
        @include mixins.flex-gap

        a
            display: inline-block
            padding: 0.5rem 1rem
            text-transform: capitalize

            &:hover
                color: variables.$headings-color

.navigation
    padding: 1rem 4rem

.menu-item 
    background: variables.$button-background-color
    border-radius: 10px

    &:hover
        background: transparent
        border: 1px solid variables.$button-border-color

.menu-link
    color: variables.$menu-link-color
    text-transform: uppercase

/* opened menu */

.opened-menu
    position: fixed
    top: 0
    right: 0
    width: 30vw
    height: 100%
    background-color: variables.$orange
    padding: 0
    transform: translateX(100%) 
    transition: transform 0.3s ease-in-out
    z-index: 2
    border-radius: 40px 0 0 40px

    .opened-menu-logo 
        img
            width: 8rem
            position: absolute
            z-index: 3
            top: 0.5rem
            left: 0.5rem

    .close-menu 
        img
            position: absolute
            right: 2rem
            top: 2rem

    &.open
        transform: translateX(0)

    .navigation-item
        padding: 0

        ul
            @include mixins.flex-column-start
            height: inherit
            margin-top: 5rem

    a
        width: 100%
        color: variables.$menu-link-color
        text-transform: uppercase
        font-weight: 900
        text-align: left
        font-size: variables.$menu-link-size

    .opened-menu-wrapper
        border-top: 1px solid variables.$menu-link-color
        border-bottom: 1px solid variables.$menu-link-color
        position: absolute
        top: 4rem
        bottom: 4rem
        left: 2rem
        right: 2rem  

        .languages-wrapper // This class is in the LanguageSwitcher component
            @include mixins.flex-end
            padding-top: 1rem
            gap: 1rem

            .selected-language
                background-color: variables.$dark-brown
                border: 2px solid variables.$dark-brown

            button
                background-color: transparent
                border: 2px solid variables.$menu-link-color
                border-radius: 5px
                padding: 0.5rem
                color: variables.$menu-link-color

                &:hover
                    background-color: variables.$dark-brown
                    border: 2px solid variables.$dark-brown

/* header */

.header-navigation
    @include mixins.flex-space-between-center

/* home */

.home-main-container
    @include mixins.flex-center
    width: 100%
    padding: 0 0 2rem 0

    .home-text
        padding: 0 0 0 4rem
        white-space: pre-line

    .home-image img
        width: 50vw

.button-container
    .button-wrapper
        @include mixins.flex-gap

    .button-bg
        background-color: variables.$button-background-color
        color: variables.$button-text-color

    .button 
        padding: 0.75rem 1.5rem
        border-radius: 6px
        text-decoration: none
        display: inline-block
        transition: all 0.3s ease
        border: 2px solid variables.$button-border-color


/* footer */

footer
    width: inherit
    position: relative
    bottom: 0
    box-shadow: 1px -3px 10px -5px rgba(57,29,7,1)
    -webkit-box-shadow: 1px -3px 10px -5px rgba(57,29,7,1)
    -moz-box-shadow: 1px -3px 10px -5px rgba(57,29,7,1)

    .footer-navigation
        @include mixins.flex-gap-center
        padding: 2rem 0


/* animations */

.animate__slideInRight
    -webkit-animation-name: slideInRight
    animation-name: slideInRight

.animate__slideOutRight
    -webkit-animation-name: slideOutRight
    animation-name: slideOutRight

/* animated components */

.opened-menu.open
    animation: slideInRight
    animation-duration: 1.2s


/* media queries */

@media screen and ( min-width: variables.$breakpoint-xxl )
    .home-main-container
        .home-text
            padding: 0 0 0 4rem

@media screen and ( max-width: variables.$breakpoint-lg )
    .navigation
        padding: 1rem 2rem

    .home-main-container
        @include mixins.flex-column-center-reverse
        text-align: center

        .home-text
            padding: 0 2rem 2rem 2rem

        .home-image img
            width: 70vw

    .opened-menu
        width: 40vw

    .button-container
        .button-wrapper
            @include mixins.flex-column-center

            .button 
                width: 80vw


/* login modal */

.login-modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, 0.5)
    @include mixins.flex-center
    z-index: 100

    .opened-login
        margin-bottom: 4rem

    .modal-content
        background-color: variables.$background-color
        border-radius: 20px
        padding: 2rem
        width: 95%
        max-width: 400px
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
        position: relative
        animation: fadeIn 0.3s ease-in-out

        h2
            color: variables.$dark-brown
            text-align: center
            margin-bottom: 1.5rem

        form
            @include mixins.flex-column-gap
            gap: 1rem

            input
                padding: 0.75rem
                border-radius: 10px
                border: 1px solid variables.$light-grey
                font-size: 1rem
                outline: none
                transition: border-color 0.2s ease

                &:focus
                    border-color: variables.$orange

            button
                padding: 0.75rem
                background-color: variables.$button-background-color
                color: variables.$button-text-color
                font-weight: 700
                border-radius: 10px
                transition: background-color 0.3s ease
                width: 30%
                &:hover
                    background-color: variables.$brown

            p
                color: variables.$red
                font-size: 0.9rem
                text-align: center
    .opened-menu-logo 
        img
            width: 8rem
            position: absolute
            z-index: 3
            top: 0.5rem
            left: 0.5rem

    .close-menu 
        img
            position: absolute
            right: 2rem
            top: 2rem
    
    .google-login-btn
        @include mixins.flex-center
        gap: 0.75rem
        padding: 0.75rem
        width: 100%
      
       
        border-radius: 10px
        font-weight: 600
        color: variables.$dark-grey
        transition: all 0.3s ease
        margin-top: 1rem

        img
            width: 1.5rem
            height: 1.5rem

.user-info
    display: flex
    align-items: center
    gap: 5px

.user-avatar 
  background-color: #4b6bfb
  color: white
  font-weight: 600
  border-radius: 50%
  width: 36px
  height: 36px
  display: flex
  align-items: center
  justify-content: center
  font-size: 14px
  text-transform: uppercase
  box-shadow: 0 2px 6px rgba(0,0,0,0.1)


.greeting 
  margin-left: 8px
  font-size: 0.95rem
  color: #333


.spinner
  border: 4px solid rgba(0, 0, 0, 0.1)
  border-left-color: #391D07
  border-radius: 50%
  width: 24px
  height: 24px
  animation: spin 1s linear infinite
  margin: 0 auto

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

   

@keyframes fadeIn
    from
        opacity: 0
        transform: scale(0.95)
    to
        opacity: 1
        transform: scale(1)





@media screen and ( max-width: variables.$breakpoint-md )

    footer
        .footer-navigation
            @include mixins.flex-column-start
            gap: 0.5rem

            .navigation-item ul
                @include mixins.flex-column-start
                gap: 0

@media screen and ( max-width: variables.$breakpoint-sm )
    .opened-menu
        width: 80vw
        

